h1 Home View persistant header


#facebook-connect
  h3 You must connect to Facebook to use Trailer Rater
    p
      a(target="_blank", href="https://www.facebook.com/dialog/oauth?client_id=160913750763734&response_type=token&scope=email&redirect_uri=http://www.facebook.com/connect/login_success.html") Connect to Facebook

#action-sub-view
